<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />

    <title>Dashboard</title>
</head>
<body>
    <aside th:fragment="navigation-bar">
        <img
            th:src="@{/static/images/openfusion-hero.png}"
            th:alt="#{openfusion-logo}"
            class="logo"
        />

        <nav>
            <a
                th:href="@{/accounts/email-preferences}"
                th:text="#{email.change-email}"
                th:classappend="${#strings.equals(requestUri, '/accounts/email-preferences') ? 'active' : ''}"
            ></a>

            <a
                th:href="@{/accounts/change-password}"
                th:text="#{password.change-password}"
                th:classappend="${#strings.equals(requestUri, '/accounts/change-password') ? 'active' : ''}"
            ></a>

            <a
                th:href="@{/accounts/delete-account}"
                th:text="#{delete-account.label}"
                th:classappend="${#strings.equals(requestUri, '/accounts/delete-account') ? 'active' : ''}"
            ></a>

            <a
                th:href="@{/auth/logout}"
                th:text="#{logout}"
            ></a>
        </nav>
    </aside>
</body>
</html>