<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />

    <link rel="icon" type="image/x-icon" th:href="@{/static/images/openfusion-icon.ico}" />

    <title
        th:text="${#messages.msg('password.forgot-password.label') + ' | ' + @environment.getProperty('issuer.name')}"
    ></title>

    <link rel="stylesheet" th:href="@{/static/css/authentication.css}" />
    <link rel="stylesheet" th:href="@{/static/css/forms.css}" />
    <link rel="stylesheet" th:href="@{/static/css/main.css}" />
</head>
<body>
    <main>
        <img
            th:src="@{/static/images/welcome-to.png}"
            th:alt="#{welcome-to}"
            class="welcome-to"
        />

        <img
            th:src="@{/static/images/openfusion-hero.png}"
            th:alt="#{openfusion-logo}"
            class="logo"
        />

        <h1 th:text="#{password.forgot-password.label}"></h1>

        <form
            th:action="@{/auth/forgot-password}"
            th:object="${forgotPasswordReqDto}"
            id="forgotPasswordForm"
            method="POST"
        >
            <span th:replace="~{fragments/forms/post-submit-messages.html :: post-submit-error}"></span>

            <span th:replace="~{fragments/forms/post-submit-messages.html :: post-submit-success}"></span>

            <div role="separator">
                <label for="usernameOrEmail" class="form__label">
                    <span th:text="#{username-or-email.label}"></span>
                </label>

                <input
                    type="text"
                    id="usernameOrEmail"
                    maxlength="50"
                    minlength="4"
                    class="form__input"
                    th:placeholder="#{username-or-email.input-placeholder}"
                    autofocus
                    required
                />

                <span id="usernameOrEmailError" class="form__input-error"></span>

                <div
                    role="alert"
                    th:if="${#fields.hasErrors('*')}"
                    th:errors="*"
                    id="usernameOrEmailPostErrors"
                    class="form__input-error"
                ></div>
            </div>

            <button
                type="submit"
                id="forgotPasswordButton"
                class="form__submit-button form__button"
                disabled="disabled"
            >
                <span th:text="#{password.reset-password.send-button}"></span>
            </button>
        </form>

        <a
            th:href="@{/auth/login}"
            th:text="#{login.go-to}"
            class="form__info"
        ></a>

        <p th:replace="~{fragments/powered-by.html :: powered-by}"></p>
    </main>

    <script th:src="@{/static/js/forgot-password.js}" type="module"></script>
</body>
</html>