<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />

    <link rel="icon" type="image/x-icon" th:href="@{/static/images/openfusion-icon.ico}" />

    <title
        th:text="${#messages.msg('sign-up') + ' | ' + @environment.getProperty('issuer.name')}"
    ></title>

    <link rel="stylesheet" th:href="@{/static/css/authentication.css}" />
    <link rel="stylesheet" th:href="@{/static/css/forms.css}" />
    <link rel="stylesheet" th:href="@{/static/css/main.css}" />
</head>
<body>
    <main>
        <img
            th:src="@{/static/images/welcome-to.png}"
            th:alt="#{welcome-to}"
            class="welcome-to"
        />

        <img
            th:src="@{/static/images/openfusion-hero.png}"
            th:alt="#{openfusion-logo}"
            class="logo"
        />

        <h1 th:text="#{sign-up}"></h1>

        <form
            th:action="@{/auth/register}"
            th:object="${registerReqDto}"
            id="registerForm"
            method="POST"
            autocomplete="off"
        >
            <span th:replace="~{fragments/forms/post-submit-messages.html :: post-submit-error}"></span>

            <div role="separator">
                <label for="email" class="form__label">
                    <span th:text="#{email.label}"></span>
                </label>

                <input
                    type="email"
                    th:field="*{email}"
                    id="email"
                    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                    maxlength="50"
                    class="form__input"
                    th:placeholder="#{email.input-placeholder}"
                    required
                    autofocus
                />

                <span id="emailError" class="form__input-error"></span>

                <div
                    role="alert"
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                    id="emailPostErrors"
                    class="form__input-error"
                ></div>
            </div>

            <div
                th:replace="~{fragments/forms/authentication.html :: username-input}"
                role="separator"
            ></div>

            <div
                th:replace="~{fragments/forms/authentication.html :: password-input (isCurrentPassword=false)}"
                role="separator"
            ></div>

            <div role="separator">
                <label for="passwordConfirmation" class="form__label">
                    <span th:text="#{password-confirmation.label}"></span>
                </label>

                <input
                    type="password"
                    id="passwordConfirmation"
                    maxlength="32"
                    minlength="8"
                    class="form__input"
                    th:placeholder="#{password-confirmation.input-placeholder}"
                    required
                />

                <span id="passwordConfirmationError" class="form__input-error"></span>
            </div>

            <button
                type="submit"
                id="registerButton"
                class="form__submit-button form__button"
                disabled="disabled"
            >
                <span th:text="#{sign-up}"></span>
            </button>
        </form>

        <p class="form__info">
            <span th:text="#{already-have-an-account}"></span>

            <a th:href="@{/auth/login}">
                <span th:text="${#messages.msg('login' ) + ' ' + #messages.msg('here')}"></span>
            </a>
        </p>

        <p th:replace="~{fragments/powered-by.html :: powered-by}"></p>
    </main>

    <script th:src="@{/static/js/register.js}" type="module"></script>
</body>
</html>
